/* NavBar.css */
.navbar {
    background-color: #333;
    color: #fff;
    height: 60px; /* Increase navbar height */
    display: flex;
    justify-content: center; /* Center nav links horizontally */
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  